html{

    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.share-sec,.more-sec,.access-sec{
    padding: 100px;
}
.share-link:hover{

    text-decoration: underline !important;
    font-weight: bold;
    text-decoration-thickness: 2px !important;    
}
.chevron{
    font-size: 13px;
}
.share-link:hover .chevron{

    transform: translateX(5px);
    transition: .3s;
}
.access-sec button{
    width: 230px;
}
.footer-link:hover{

    text-decoration: underline !important;
    text-decoration-color: black !important;
    text-decoration-thickness: 1px !important;
}
.mbl{
    width: 50%;
}
@media only screen and (max-width:668px){
    .mbl{
        width: 210px !important;
    }
    .micro-mbl{
        border-left: 0px !important;
    }
    
}
@media only screen and (min-width:769px) and (max-width:1025px){

    .i-pad-pro{
        margin-top: 175px !important;
    }
    .micro-mbl{
        border-left: 0px !important;
    }
}
@media only screen and (min-width:769px) and (max-width:2025px) {
    
    li>a:hover{
        text-decoration: underline;
        text-decoration-color: black;
        text-decoration-thickness: 1px;
    }
}